.promo_promo_flex {

    color: wheat;
}

.banner_header_flex {

    color: wheat;
}

.banner_text_flex {

    color: wheat;
}

.profile__greetings {
    grid-column: 1 / span 2;
    color: black;
    grid-row: 2;
}

.profile__log {
    grid-column: 1 / span 2;
    color: black;
    grid-row: 3;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}


/*Мобильная версия*/

@media (max-width: 980px) {
    body {
        background-color: #f0f0f0;
        color: black;
        margin: 0;
        font-family: nunito, sans-serif;
    }

    main {
        padding: 30px 15px;
        display: grid;
        align-content: flex-start;
        column-gap: 2%;
        row-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / span 2;
      

    }

    h1,
    h2,
    h3 {
        margin: 0;
        grid-column: 1 / span 2;
    }

    h1 {
        color: black
    }




    #root {
        min-height: 10vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-column: 1 / span 2;
        grid-template-columns: repeat(2, 1fr);
        width: 100vw;
        max-width: 100vw;
    }




    a {
        color: inherit;
        text-decoration: none;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        column-gap: 2%;
        row-gap: 20px;
        grid-column: 1 / span 2;
    }

    .pagination__catalog {
        grid-column-end: span 2
    }

    .filter__catalog {
        grid-column-end: span 2;
        gap: 20 px;
        display: flex;
    }

}

/*Десктоп версия*/

@media (min-width: 981px) {
    body {
        background-color: #f0f0f0;
        color: black;
        margin: 0;
        font-family: nunito, sans-serif;
    }

    main {
        padding: 30px 170px;
        display: grid;
        align-content: flex-start;
        grid-column: 1 / span 4;
        grid-template-columns: repeat(4, 25%);
        font-family: nunito, sans-serif;
  
    }

    h1,
    h2,
    h3 {
        margin: 0;
        grid-column: 1 / span 4;
        font-family: nunito, sans-serif;

    }

    h1,
    h2 {
        color: black
    }




    #root {
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;

    }




    a {
        color: inherit;
        text-decoration: none;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        grid-column: 1 / span 4;
    }

    .pagination__catalog {
        grid-column-end: span 4
    }

    .filter__catalog {
        grid-column-end: span 4;
        gap: 20 px;
        display: flex;
    }
}