/*Мобильная версия*/

@media (max-width: 980px) {
    body {
        background-color: darkslateblue;
        color: wheat;
        margin: 0;
        font-family: sans-serif;
    }
    
    main {
        padding: 30px 10px;
        display: grid;
        align-content: flex-start;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        
    }
    
    h1,
    h2,
    h3 {
        margin: 0;
        grid-column: 1 / span 4;
    }
    
    
    
    
    #root {
        min-height: 90vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    
    }
    
    
    
    
    a {
        color: inherit;
        text-decoration: none;
    }
    

}

/*Десктоп версия*/

@media (min-width: 981px) {
    body {
        background-color: darkslateblue;
        color: wheat;
        margin: 0;
        font-family: sans-serif;
    }
    
    main {
        padding: 30px 170px;
        display: grid;
        align-content: flex-start;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        
    }
    
    h1,
    h2,
    h3 {
        margin: 0;
        grid-column: 1 / span 4;
    }
    
    
    
    
    #root {
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    
    }
    
    
    
    
    a {
        color: inherit;
        text-decoration: none;
    }
  
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px 50px;
}
